# Wyklucz node_modules (będziemy je instalować wewnątrz kontenera)
node_modules
pnpm-lock.yaml

# Wyklucz pliki tymczasowe i logi
*.log
temp
.cache
output

# Wyklucz pliki konfiguracyjne IDE
.vscode
.idea
