---
import '../styles/global.css';
console.log('layouts/Layout.astro');
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title || "Your Site Title"}</title>
  </head>
  <body>
    <slot />
  </body>
</html>